{% extends 'base.html' %}
{% load static %}

{% block title %}
	Equities
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Table name -->
        <div class="table-name">
            Actual pre-IPO opportunities
        </div>

        <!-- Tablenavbar -->
        <div class="row">
            {% block tablenavbar %}
                {% include 'tablenav/tablenavbar.html' %}
            {% endblock tablenavbar %}
        </div>

         <!-- Filter's block for filters from tablenavbar -->
        <div class="row">
            {% block filtersform %}
                {% include 'equities/filtersform.html' %}
            {% endblock filtersform %}
        </div>


        <!-- Table -->
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover" id="Equities_Table">
                    {% block eqtable %}
                        {% include 'equities/eqcommon/eqtable.html' %}
                    {% endblock eqtable %}
                </table>
            </div>
        </div>

        <!-- Table footer -->
        {% block tablefooter %}
            {% include 'tablenav/tablefooter.html' %}
        {% endblock tablefooter %}
	</div>
{% endblock content %}
